@use 'base/variables' as v;
@use 'base/mixins' as m;

.grupos {
    background-image: linear-gradient(to bottom, v.$primario 0%, v.$primario 50%, v.$secundario 50%, v.$secundario 100%);
    

    @include m.tablet { 
        background-image: linear-gradient(to right, v.$primario 0%, v.$primario 50%, v.$secundario 50%, v.$secundario 100%);        
    }

    &__grid {
        @include m.grid(1, 2rem);

        @include m.tablet { 
            @include m.grid(2, v.$separacion);
        }
    }

    &__bloque {
        padding: v.$separacion;
    }

    &__heading {
        text-align: left;
        color: v.$blanco;
    }

    &__texto {
        color: v.$blanco;
        line-height: 1.8;
    }
}


